body {
    font-family: sans-serif;
    background-color: #3e5382d6;
}
#container {
    text-align: center;
    margin: 30px auto 0 auto;
    width: 75%;
}

#pomodoro {
    width: 60%;
    border: 2px solid rgba(99, 93, 93, 0.73);
    box-shadow: 5px 8px 10px 6px #888888;
    border-radius: 10px;
    margin: 60px auto 0 auto;
    background-color: #4fdf86eb;
}

.information {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.inform {
    border: 1px solid rgb(214, 214, 221);
    border-radius: 8px;
    padding: 5px 20px;
    margin: 5px 15px;
    background-color: #ff437f;
    font-size: 18px;

}

#timer {
    display: flex;
    padding: 6rem 4.1rem;
    margin: 8% 29%;

}

.inputs {
    width: 20px;
    margin: 15px 4px;
    z-index: 1;

}

.inputs::-webkit-inner-spin-button, 
.inputs::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


.container .box {
    width: 25%;
    float: left;
}

.container .box .chart {
    display: flex;
    position: relative;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 110px;
}

.container .box canvas {
    height: 190px !important;
    width: 190px !important;
    position: absolute;
    top: -40px;
    left: -22px;
    z-index: 0;
}

.inform:hover {
    transform: scale(1.1);
    transition-duration: 0.5s
}

.inform {
    outline: none;
}